<html>
    <link rel="shortcut icon" href="/images/wiz-icon.png">
	<link rel="stylesheet" type="text/css" href="/stylesheets/stylemain.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/agenda.css">
	<style>
		.infocap{
			font-size:10pt;
			font-weight:bold;
			color:Orange;
			vertical-align:middle;
			padding-left:25px;
			line-height:25px;
		}
		
		.daycap{
			font-size:10pt;
			font-weight:bold;
			text-decoration:none;
			color:White;
			padding-left:5px;
			height:30px;
			background:url(/images/panel.png) repeat-x;
			vertical-align:bottom;
		}
	</style>
<head>
	<title>
		WIZ | Melamine
	</title>
</head>

<body style="position: relative; min-height: 100%; top: 0px;">
	<div id="main">
		<div id="site">
			<div id="logo1" style="display:block;">
				<div id="menu" style="padding-top:23px;float:right;">
					<ul id="ul">
						<li id="menu_corner" style="float:left; width:20px; height:33px;"></li>
						<li style="width:53px;background-color:#222222;"><a href="http://wiz-biz.com/">Home</a></li>
						<li style="width:104px;background-color:#222222;"><a href="/event">About Event</a></li>
						<li style="width:111px;background-color:#222222;" class="current_page_item"><a href="/agenda">Event Agenda</a></li>
						<li style="width:128px;background-color:#222222;"><a href="/speaker">Speaker Profile</a></li>
						<li style="width:102px;background-color:#222222;"><a href="/register">Register Me</a></li>
						<li style="width:85px;background-color:#222222;"><a href="/sponsor">Sponsor</a></li>
					</ul>
				</div>
			</div>
			
	<div id="divcontent" class="content" style="width:1003px;">
		<div style="width:750px;padding-right:0px;border:inset 0px red;margin-left:130px;" id="content">
			<table cellpadding="0" cellspacing="0" border="1" style="vertical-align:top;">
				<colgroup>
					<col style="width:50%;">
					<col style="width:50%;">
				</colgroup>
          
				<tbody id="agendaTableBody" >
					<tr>
						<td style="vertical-align:top;">
						<div style="padding-right:1px;padding-left:1px;">
							<table border="0">
								<tbody>
								<tr><td class="daycap" colspan="2"> Day 1 - [15 November, 2015 - Sunday]</td></tr>
								
								<tr>
									<td class="TD_time">
									  <span>13:30</span>
									</td>
									
									<td class="TD_title" colspan="0">
										<div>Conference Registration & Networking<br></div>
									</td>
								</tr>
								<tr>
									<td class="TD_time">
									  <span>14:30</span>
									</td>
									
									<td class="TD_title" colspan="0">
										<div>
											Melamine Supply & General Outlook<br>
										</div>
									</td>
								</tr>
								<tr>
									<td class="TD_time">
									  <span>15:00</span>
									</td>
									
									<td class="TD_title" colspan="0">
										<div>Global Formaldehyde Outlook with Focus on the Middle East Area.<br></div>
										<span class="speaker">
											Mr. Lars-Olle Andersson, Business Manager, Johnson Matthey Formox AB.
										</span>
									</td>
								</tr>
								<tr>
									<td class="TD_time">
									  <span>15:30</span>
									</td>
									
									<td class="TD_title" colspan="0">
										<div>
											Coffee Break & Networking
											<br>
										</div>
									</td>
								</tr>
								<tr>
									<td class="TD_time">
									  <span>16:00</span>
									</td>
									
									<td class="TD_title" colspan="0">
										<div>
											Worldwide Latest Structure of Melamine
											<br>
										</div>
										<span>
											* Changes in the global melamine market
										</span></br>
										<span>
											* Inputs at Melamine
										</span></br>
										<span>
											* Purchasing criteria for melamine
										</span></br>
										<span>
											* Ongoing pricing and future trend
										</span></br>
										<span>
											* Anti-Dumping Issues
										</span></br>
									</td>
								</tr>	
								<tr>
									<td class="TD_time">
									  <span>16:30</span>
									</td>
									
									<td class="TD_title" colspan="0">
										<div>Asian Melamine Market<br></div>
										<span>* China supply and export: focus on the new capacity</span>
										</br>
										<span>* Overall condition of melamine market in East and South East Asia</span></br>
										<span class="speaker">
											Speaker To Be Confirmed: Golden-Elephant
										</span></br>
									</td>
								</tr>
								<tr>
									<td class="TD_time">
									  <span>18:00</span>
									</td>
									
									<td class="TD_title" colspan="0">
										<div>Dinner & Nettworking (Buffet or Plated)<br></div>
									</td>
								</tr>
								</tbody>
							</table>
						</td>
						
						<td style="vertical-align:top;"><div style="padding-right:1px;padding-left:1px;">
							<table border="0">
								<tbody>
									<tr><td class="daycap" colspan="2"> Day 2 - [16 November , 2015 - Monday] &nbsp &nbsp &nbsp</td></tr>
									<tr>
									<td class="TD_time">
									  <span>10:00</span>
									</td>
									
									<td class="TD_title" colspan="0">
										<div>
											Melamine Consumption in the Main Downstream Application: Wood Adhesives Industry / Coating / Laminates or others.<br>
										</div>
										<span class="speaker">
											Speaker To Be Confirmed: Beroe Consulting
										</span></br>
									</td>
								</tr>
								<tr>
									<td class="TD_time">
									  <span>10:30</span>
									</td>
									
									<td class="TD_title" colspan="0">
										<div>Regional Focus: India<br></div>
										<span>
											* Laminates Market Development and its demand of melamine
										</span></br>
										<span>
											* Anti-Dumping Issues
										</span></br>
									</td>
								</tr>
								<tr>
									<td class="TD_time">
									  <span>11:00</span>
									</td>
									
									<td class="TD_title" colspan="0">
										<div>Coffee Break & Networking<br></div>
									</td>
								</tr>	
								<tr>
									<td class="TD_time">
									  <span>11:30</span>
									</td>
									
									<td class="TD_title" colspan="0">
										<div>Regional Focus: Turkey / Russia<br></div>
										<span>
											* Growing and development in countries such as Russia, Turkey etc
										</span></br>
										<span>
											* Melamine consumption and demand connected with the woodworking market
										</span></br>
										<span>
											* Situation of wood-based panels and laminates
										</span></br>
									</td>
								</tr>								
								<tr>
									<td class="TD_time">
									  <span>12:00</span>
									</td>
									
									<td class="TD_title" colspan="0">
										<div>Regional Focus: Middle East / Africa<br></div>
									</td>
								</tr>
								<tr>
									<td class="TD_time">
									  <span>12:30</span>
									</td>
									
									<td class="TD_title" colspan="0">
										<div>Buffet Lunch<br></div>
										</br>
									</td>
								</tr>	
								<tr>
									<td class="TD_time">
									  <span>14:30</span>
									</td>
									
									<td class="TD_title" colspan="0">
										<div>Decorative Surfaces<br></div>
									</td>
								</tr>
								<tr>
									<td class="TD_time">
									  <span>15:00</span>
									</td>
									
									<td class="TD_title" colspan="0">
										<div>Melamine at Furniture Production Facilities<br></div>
										<span>
											* Market situation of Panel products: MDF, PB, OSB and etc.
										</span></br>
									</td>
								</tr>	
								<tr>
									<td class="TD_time">
									  <span>15:30</span>
									</td>
									
									<td class="TD_title" colspan="0">
										<div>MF Resin and Mounding Compound<br></div>
									</td>
								</tr>
								<tr>
									<td class="TD_time">
									  <span>16:00</span>
									</td>
									
									<td class="TD_title" colspan="0">
										<div>Sustainable Solutions Innovation<br></div>
									</td>
								</tr>
								<tr>
									<td class="TD_time">
									  <span>16:30</span>
									</td>
									
									<td class="TD_title" colspan="0">
										<div>Coffee Break & Networking<br></div>
									</td>
								</tr>
								</tbody>
							</table>
						</td>
				  
					</tr>
				</tbody>
			</table>
			
		</div>
	</div>
		</div>
	</div>
</div>

 
</body>

</html>
