<html>
    <link rel="shortcut icon" href="/images/wiz-icon.png">
	<link rel="stylesheet" type="text/css" href="/stylesheets/stylemain.css">
<head>
	<title>
		WIZ | Melamine
	</title>
</head>

<body style="position: relative; min-height: 100%; top: 0px;">
	<div id="main">
		<div id="site">
			<div id="logo1" style="display:block;">
				<div id="menu" style="margin-top: 1px;float:right;">
					<ul id="ul">
						<li id="menu_corner" style="float:left; width:20px; height:33px;"></li>
						<li style="width:53px;background-color:#222222;">
							<a href="http://www.wiz-biz.com/">Home</a>
						</li>
						<li style="width:104px;background-color:#222222;">
							<a href="/event">About Event</a>
						</li>
						<li style="width:111px;background-color:#222222;">
							<a href="/agenda">Event Agenda</a>
						</li>
						<li style="width:128px;background-color:#222222;" class="current_page_item">
							<a href="/speaker">Speaker Profile</a>
						</li>
						<li style="width:102px;background-color:#222222;">
							<a href="/register">Register Me</a>
						</li>
						<li style="width:85px;background-color:#222222;">
							<a href="/sponsor">Sponsor</a>
						</li>
					</ul>
				</div>
			</div>
			
			<div id="divcontent" style="width:1003px;background-color:#f5f4f3;">
				<div>
					<h3 align="center" style="font-size:14px;">Attentions</h3>
					<ul style="margin-left:80px;margin-right:80px;list-style:none;">
						<li>- Please send the 1speech topic, 2outline, 3speaker’s bio data or company info, 4photo before September 25</li>
						<li>- Please send the Speech PPT or PDF Copy before October 30 for further arrangement.</li>
						<li>- We will share speech PDF to all participants after the event. Otherwise, we will keep them confidential.</li>
						<li>- If you are unavailable to give a speech, please recommend someone competent.</li>
						<li>- Time of your keynote speech (Time: 25-30 Minutes) Participants will raise questions after your speech in the Q&A session.</li>
					</ul>
				</div>
				<div align="center" style="border-top:1px solid gray;padding-top:10px;">
					<h3>Review 2013- 2014</h3>
					<img src="/images/speaker.jpg"></img>
				</div>
			</div>
			
		</div>

	</div>
	
 
</body>

</html>
